</head>
<style> 
  /* Set the border color */ 
    
  .custom-toggler.navbar-toggler { 
      border-color: white; 
  } 
  /* Setting the stroke to green using rgb values (0, 128, 0) */ 
    
  .custom-toggler .navbar-toggler-icon { 
      background-image: url( 
"https://img.icons8.com/cotton/64/000000/menu.png"); 
  } 
</style>
<header>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#51A6E5">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <nav class="navbar navbar-expand-lg static-top fixed-top" style="background-color: #006ec2; border: none; box-shadow: none;">
          <div class="container">
            <a class="navbar-brand mt-2" href="https://opstree.github.io">
                  <img src="static/logo.png" alt="Opstree">
                </a>
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #006ec2;">
                  <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="box-shadow: none; border: none;">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link text-white font-weight-bold" href="https://blog.opstree.com" style="font-family: Muli;" target="_blank" rel="noopener noreferrer">New User</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="p-4 mb-0 text-white" style="font-family: Muli; background-color: #006ec2;">
            <h2 class="ml-5 pt-5 mt-2 text-center">ot-go-webapp</h2>
            <div class="mt-1 mx-auto w-50 p-1 text-center d-block" style="font-family: Muli; background-color: #006ec2;">
                <img src="static/go-icon.svg" height="128" width="128">
            </div>
        </div>
        <div class="container mt-4">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email ID</th>
                    <th scope="col">Contact Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>9999999999</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>9999999999</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>9999999999</td>
                  </tr>
                </tbody>
              </table>
        </div>
</header>
</head>
